@import url("https://fonts.googleapis.com/css2?family=Doto:wght@100..900&display=swap");

:root {
  --mallardGreen: #0a473a;
  --deepTeal: #1f6f5a;
  --softDuckBellyBeige: #faeab1;
  --goldAccent: #c07f00;
  --warmCream: #f4f1de;
}

* {
  box-sizing: border-box;
  font-family: "Doto", sans-serif;
  user-select: none;
  scrollbar-width: none;
}

html {
  scroll-behavior: smooth;
  scroll-snap-type: y; 
}

h1 {
  font-size: clamp(1.5em, 2vw, 3em);
  font-weight: 900;
}

p {
  margin: 0;
}

ul {
  display: flex;
  align-items: center;
  gap: clamp(0.5rem, 2vw, 3rem);
  justify-content: space-evenly;
}

li {
  list-style: none;
}

li a {
  font-size: clamp(0.9rem, 1.2vw + 0.5rem, 1.5rem);
  font-weight: 700;
  text-decoration: none;
  color: #0a473a;
  transition: all 0.3s ease;
  text-wrap: nowrap;
}

.liAnchor:hover {
  font-size: clamp(1.2rem, 2vw + 0.5rem, 3rem);
}

.liAnchor.active {
  font-size: clamp(1.3rem, 2.5vw + 0.5rem, 3rem);
  font-weight: 900;
  transition: all 0.3s ease;
}

nav {
  width: 100%;
}

body {
  margin: 0;
  background-color: var(--softDuckBellyBeige);
  display: flex;
  flex-direction: column;
  transition: all 1s ease-in-out;
  
  
  
}

header {
  place-self: center;
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 1rem;
  height: 4rem;
  width: 90vw;
  min-width: 0;
  background-color: var(--goldAccent);
  border-radius: 3rem;
  border: 0.2rem solid #0a473a;
  z-index: 1;
  overflow: hidden;
}

header button{
  position: absolute;
  left: 0rem;
  cursor: pointer;
  background: none;
  border: none;
  scale: 50%;
}

.section {
  height: 100dvh;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1em;
  opacity: 0;
  transition: all 1s ease-in-out;
  scroll-snap-align: center;
}

.section.active {
  opacity: 1;
}


footer {
  display: flex;
  align-items: center;
  justify-content: space-around;
  position: relative;
  bottom: 0em;
  font-weight: 900;
  background-color: #c07f00;
  height: 5rem;
  border-radius: 5rem 5rem 0rem 0rem;
}

footer a {
  text-decoration: none;
  color: var(--mallardGreen);
}

.wrapper {
  display: flex;
  flex-direction: column;
  gap: 2em;
  position: relative;
}

.box {
  box-sizing: border-box;
  width: 80vw;
  height: 80vh;
  display: flex;
  color: black;
  justify-content: center;
  align-items: center;
  font-weight: 600;
  font-size: 2em;
  border-radius: 2rem;
  border: 4px solid #0a473a;
  
}

/*  Side scrolling section */

#duckfacts .wrapper {
  flex-direction: row;
  padding-inline: 10vw;
  gap: 10vw;
}

 .scrollBox {
  flex: 0 0 80vw;       
  scroll-snap-align: center;
  display: flex;
  flex-direction: column;
}

#duckfacts {
  display: flex;
  flex-direction: row;
  overflow-x: auto;       
  scroll-snap-type: x mandatory; 
  scroll-behavior: smooth;
}

 #duckfacts.section{
  justify-content: start;
  align-items: center;
  
}

/*  Sidescrolling Section Buttons */
  
#navAnchor {
  position: absolute;
  bottom: -95vh;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  gap: 1em;
}

#navAnchor a{
  background-color: #d8860b;
  cursor: pointer;
  width: 1em;
  height: 1em;
  border-radius: 50%;
}


/* --------------------------------------------QuackSwitch------------------------------------------------------ */

#quackBox {
  border-radius: 50%;
  transform: scale(-1, 1);
}


/* Display none rules for the desktop version */
.mobileHeader {
  display: none;
}
.mobileNav{
  display: none;
}

/* ---------------------------------Mobile Responsivnes------------------------------- */

@media (max-width: 450px) {

  /*  Mobile Global Rules */
  * {
    scrollbar-width: none;
  }

  html {
    scroll-padding-top: 3em;
  }

  body{
    min-height: 100svh;
  }

  /*  Mobile Header  */
  header {
    display: none;
  }

  header label {
    display: none;
  }

  .section{
    height: 100svh;
  }

  .box{
    height: 80svh;
  }

  .mobileHeader {
    width: 100dvw;
    max-width: 100%;
    min-width: 0;
    border-radius: 0;
    border-bottom: 0.2rem solid #0a473a;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #c07f00;
    padding-inline: 1em;
    z-index: 1;
    position: fixed;
    top: 0;
    height: 3em;
  }

  .mobileHeader h2 {
    font-weight: 900;
  }

  .mobileMenuBtn {
    display: unset;
    background: none;
    border: none;
    cursor: pointer;
  }

  .mobileNav {
    display: unset;
    position: fixed;
    background-color: #1f6f5a;
    height: fit-content;
    width: 100%;
    max-width: 100%;
    left: 0;
    top: 0;
    transform: translateY(-100%);
    transition: all 1s ease;
    z-index: 1;
    border-radius: 0rem 0rem 3rem 3rem;
    border-bottom: .3rem solid #c07f00;
  }

  .mobileNav.active {
    transform: translateY(30%);
  }

  .mobileNav ul {
    display: flex;
    flex-direction: column;
    list-style: none;
    margin-right: 1em;
  }

  .mobileNav a{
    color: white;
  }

  .mobileNav li {
    border-bottom: .2rem dotted #d8860b;
  }

  /* Mobile Section Wrapper */

  .wrapper {
    gap: 0;
  }

/*  Mbile Sidescroll Section Wrapper */

  #duckFacts .wrapper {
  gap: 10vw;
  }

  #navAnchor{
    display: none;
  }

  /*  Mobile Footer  */

  footer {
    display: none;
  }
}

